.LogInrotationcontainer{
    position: absolute;
    display: flex ;
    width: 100%;
    height: calc(100% - 51px);
    justify-content: center;
    align-items: center;    
}

.BGImages{
    background-image:  url("NicePng_squiggle-png_734668.png");
    background-repeat: repeat;
    background-size: 400px 400px;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.LogIncontainer{
    flex-direction: column;
    position: absolute;
    display: flex ;
    align-content: center;
}

.LogInNameandPassword{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: var(--BaseColor);
    color: aliceblue;
    border: none;
}

.LogInbutton{
    background-color: var(--SecondTextColor);
    font-size: 20px;
    width: 100%;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    border-radius: 10px;
    border: none;
}