.FolderFullPage{
    display: flex;
    height: calc(100vh - 221px);
}

.AddFolder{
    position: absolute;
    background-color: var(--BaseColor);
    color: aliceblue;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: calc(100vh - 280px);
    margin-left: calc(100% - 60px);
}