*,*::before, *::after { box-sizing: border-box; margin: 0; padding: 0; }

:root{
  --BaseColor:  #181a1b;
  --SecondBaseColor: #407180;
  --ThirtBaseColor: #394E55;
  --TextColor: #3990AA;
  --SecondTextColor: #00C2FF;
}

body{
  background-color: var(--ThirtBaseColor);
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}